@use 'base/variables' as v;
@use 'base/mixins' as m;

.formulario{
    width: 90%;
    margin: 0 auto;
    margin-top: 5rem;
    margin-bottom: 2rem;
}

.formulario__legend{
    font-size: 2rem;
    font-weight: 300;
}
.formulario__campos{
    //width: 80%;
    margin: 0 auto;
    
}

.formulario__label{
    font-size: 2rem;
    font-weight: 300;
}

.formulario__input{
    width: 100%;
    margin-bottom: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

