//------------------------>TIPOGRAFIA<---------------------------------------
$fuente_principal:  'Poppins', sans-serif;

//------------------------>COLORES<---------------------------------------

//BASICOS
$negro: #000;
$blanco: #fff;
$gris: #e1e1e1;

//EMPRESA

//AZULES
$azul_oscuro: #172026;
$azul_medio: #132D46;
$azul_claro: #5FCDD9;

//VERDES
$verde_medio: #027373;
$verde_claro: #01C38E;

//Otros
$rojo: rgb(255, 40, 40);
$naranja: rgb(255, 177, 33);

//------------------------>TAMAÑOS MEDIA QUERIES<---------------------------------------

$telefono: 360px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;

